*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
     width: 900px;
     margin:auto;
     background-color: rgb(144, 191, 223);


}


#menu{
    width: 900px;
    height: 60px;
    background-color:#3034ff;
}

.logomarca{
    height: 50px;
    width: 150px;
    background-color:#7d7fff;
    margin: 10px;


}

.menu{
    height: 50px;
    width: 150px;
    background-color:#7e80f7;
    margin: 10px;
}

#banner{
    width: 900px;
    height: 500px;
    background-color:#21dddd;
}

#container-dois{
    width: 900px;
    height: 560px;
    background-color:#b9e5e5
}

#container-tres{
    width: 900px;
    height: 560px;
    background-color:#72e2e2
}
#container-quatro{
    width: 900px;
    height: 560px;
    background-color:#a9cccc
}